
<!-- <div *ngIf="user">
  <h2> You are now logged in as {{ user.username }}!! </h2>
  <p> Here's the user object </p>
  <pre> {{ user | json }} </pre> // to show the user data in DB in a preaty json form -->  

  <!-- <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
  <pre> {{ privateData | json }} </pre>  -->

  <!-- <button (click)="logout()"> logout </button> -->
  <!-- <button (click)="getPrivateData()"> Get private data </button> -->
<!-- </div> -->

<!-- =========================================================================== -->
<!-- if the user is not logged in yet show this nav bar -->
<div *ngIf="!user">
    <nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar topnav" id="probootstrap-navbar">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']" (click)="refresh()"> Home </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-menu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/#about']"(click)="refresh()">About</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/signup']" (click)="refresh()">Sign up</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" (click)="refresh()">Log in</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- if the user is logged in yet show this nav bar -->
  <div *ngIf="user">
    <nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar topnav" id="probootstrap-navbar">
      <div class="container">
          <a class="navbar-brand" [routerLink]="['/']" (click)="refresh()"> Welcome {{ user.userFname }} </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="ion-navicon"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="probootstrap-menu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" [routerLink]="['/#about']"(click)="refresh()">About</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['#']" (click)="refresh()">Your Account</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/logout']" (click)="refresh()">Log out</a></li>
            </ul>
          </div>
      </div>
    </nav>
  </div>
    <!-- END nav -->
    
    <section class="probootstrap_section bg-light" id="section-contact">
      <div class="container row"> 
        <div class="col-md-6 col-md-offset-5">
          <div class="probootstrap-animate">
            <form class="probootstrap-form probootstrap-form-box">
              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fname" class="sr-only sr-only-focusable">First Name</label>
                    <input type="text" [(ngModel)]="formInfo.userFname" class="form-control" id="fname" name="fname" placeholder="First Name"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lname" class="sr-only sr-only-focusable">Last Name</label>
                    <input type="text" [(ngModel)]="formInfo.userLname"class="form-control" id="lname" name="lname" placeholder="Last Name"/>
                  </div>
                </div>
              </div>

              <br>
        
              <div class="form-group">
                <label for="email" class="sr-only sr-only-focusable">Email</label>
                <input type="email" [(ngModel)]="formInfo.username" class="form-control" id="email" name="email" placeholder="Email"/>
              </div>

              <div class="form-group">
                <label for="password" class="sr-only sr-only-focusable">Passwor</label>
                <input type="password" [(ngModel)]="formInfo.password" class="form-control" id="password" name="message" placeholder="password"/>
              </div>

              <div class="form-group">
                  <button (click)="signup()" class="btn btn-primary form-control" value="sign up"> signup </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


