<app-topnav></app-topnav>

<!-- ======================TITLE================================= -->

<section class="probootstrap_section section" id="signupHeader">


<!-- ======================END TITLE================================= -->



<!-- this is pulling in singleHotels from the hotelDetails component -->

<div style = "color:black" *ngFor = "let hotel of allTheHotels; let first = first"> 
    <app-hotel-detail [oneSingleHotel]="hotel" [checked] = "first"> </app-hotel-detail> 
</div> 

<!-- ======================================================= -->
