
<!-- ===============TOP NAV================ -->
<!-- if the user is not logged in yet show this nav bar -->
<div *ngIf="!user">
  <nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar topnav" id="probootstrap-navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" (click)="refresh()"> ReviewSensor </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu"
        aria-expanded="false" aria-label="Toggle navigation">
        <span>
          <i class="ion-navicon"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="probootstrap-menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['index/#about']" (click)="refresh()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/signup']" (click)="refresh()">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" (click)="refresh()">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- if the user is logged in yet show this nav bar -->
<div *ngIf="user">
  <nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar topnav" id="probootstrap-navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" (click)="refresh()"> Welcome {{ user.userFname }} </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu"
        aria-expanded="false" aria-label="Toggle navigation">
        <span>
          <i class="ion-navicon"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="probootstrap-menu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/#about']" (click)="refresh()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['#']" (click)="refresh()">My Trips</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/logout']" (click)="refresh()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- ========================= END nav============================== -->

<!-- ======================TITLE================================= -->

<section class="probootstrap_section section" id="signupHeader">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col-md-12">
        <h2 class="display-4 border-bottom probootstrap-section-heading underline border-bottom-listView">Top Hotels in citynamehere</h2>
      </div>
    </div>
  </div>
</section>

<!-- ======================END TITLE================================= -->


<!-- =======================HOTLE LIST VIEW================================ -->

<!-- <section class="probootstrap_section hotel-list"> -->
    <!-- <div >  -->
      <!-- <div class="row" *ngFor = "let hotel of allTheHotels"> 
        <div class="col-12 hotelListItem"> 
          <div class=" probootstrap-media mb-4">
            
          <div class="probootstrap-media-image col-md-3" >
              <img [src]="hotel.image_url" alt="{{hotel.name}} image" class="img-fluid"> 
          </div>

          <div class="media-body hotelListItemContent col-md-2">
              <h5>{{hotel.name}}</h5>
              
              <div class="stars" *ngIf="hotel.rating === 0">
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div>

              <div class="stars" *ngIf="hotel.rating === .5">
                <i class="fa fa-star-half-full" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div>

              <div class="stars" *ngIf="hotel.rating === 1">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div>

              <div class="stars" *ngIf="hotel.rating === 1.5">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star-half-full" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div>
              
              <div class="stars" *ngIf="hotel.rating === 2">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div> 

              <div class="stars" *ngIf="hotel.rating === 2.5">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star-half-full" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div>

              <div class="stars" *ngIf="hotel.rating === 3">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div> 

              <div class="stars" *ngIf="hotel.rating === 3.5">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star-half-full" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div>

              <div class="stars" *ngIf="hotel.rating === 4">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star-o" style="font-size:30px"></i>
              </div> 

              <div class="stars" *ngIf="hotel.rating === 4.5">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star-half-full" style="font-size:30px"></i>
              </div>

              <div class="stars" *ngIf="hotel.rating === 5">
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
                <i class="fa fa-star" style="font-size:30px"></i>
              </div> -->

              <!-- <h5 *ngIf="hotel.price.length === 1" style="color: #00CA4C">{{hotel.price}}</h5> (Inexpensive) -->
              <!-- <h5 *ngIf="hotel.price.length === 2" style="color: #00CA4C">{{hotel.price}}</h5> (Moderate)  -->
              <!-- <h5 *ngIf="hotel.price.length === 3" style="color: #00CA4C">{{hotel.price}}</h5>  (Pricey) -->
              <!-- <h5 *ngIf="hotel.price.length === 4" style="color: #00CA4C">{{hotel.price}}</h5> (Ultra High-End)   -->

              <!-- <h5>Total reviews: {{hotel.review_count}} </h5> 
              
              <div class="form-group">
                <button  class="btn btn-primary form-control signupButton" value="add to trip"> Add to Trip </button>
              </div>
              
            </div>

            <div class="col-md-4"> -->

                <!-- <app-bar-gauge></app-bar-gauge> -->
            <!-- </div> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </section> -->
  <!-- END section -->
<!-- ======================================================= -->


<!-- // this is pulling in singleHotels from the hotelDetails component -->

<div style = "color:black" *ngFor = "let hotel of allTheHotels"> 
    <app-hotel-detail [oneSingleHotel]="hotel"> </app-hotel-detail> 
</div> 

<!-- ======================================================= -->





<!-- HARD CODED HOTEL CARDS FOR TESTING STYLING -->
<!-- <div class="col-md-3 hotelListItem">
  <div class="media probootstrap-media d-block align-items-stretch mb-3">
    <img src="assets/images/sq_img_1.jpg" alt="hotel name image" class="img-fluid">
    <div class="media-body hotelListItemContent">
      <h5 class="mb-3">hotel name</h5>
      <div class="stars">
        <i class="fa fa-star-o" style="font-size:24px"></i>
        <i class="fa fa-star-o" style="font-size:24px"></i>
        <i class="fa fa-star-o" style="font-size:24px"></i>
        <i class="fa fa-star-o" style="font-size:24px"></i>
        <i class="fa fa-star-o" style="font-size:24px"></i>
      </div>
      <h6>#reviews reviews total</h6>
      <p>
        <strong>Price Level:</strong> $$$</p>
    </div>
  </div>
</div>

<div class="col-md-3 hotelListItem">
  <div class="media probootstrap-media d-block align-items-stretch mb-3">
    <img src="assets/images/sq_img_1.jpg" alt="hotel name image" class="img-fluid">
    <div class="media-body hotelListItemContent">
      <h5 class="mb-3">hotel name</h5>
      <h5>hotel rating</h5>
      <h6>#reviews reviews total</h6>
      <p>
        <strong>Price Level:</strong> $$$</p>
    </div>
  </div>
</div>

<div class="col-md-3 hotelListItem">
  <div class="media probootstrap-media d-block align-items-stretch mb-3">
    <img src="assets/images/sq_img_1.jpg" alt="hotel name image" class="img-fluid">
    <div class="media-body hotelListItemContent">
      <h5 class="mb-3">hotel name</h5>
      <h5>hotel rating</h5>
      <h6>#reviews reviews total</h6>
      <p>
        <strong>Price Level:</strong> $$$</p>
    </div>
  </div>
</div> -->

