<!-- TOP NAV -->
<nav class="navbar navbar-expand-lg navbar-dark probootstrap_navbar" id="probootstrap-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">ReviewSensor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu"
      aria-expanded="false" aria-label="Toggle navigation">
      <span>
        <i class="ion-navicon"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse logged-out-nav" id="probootstrap-menu">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item"><a class="nav-link" [routerLink]="['/']">About</a></li> -->
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" fragment="about" (click)="onAnchorClick()">About</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/signup']">Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Log In</a></li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<!-- FOOTER -->
<footer class="probootstrap_section probootstrap-border-top">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-12 text-center footer">
        <p class="probootstrap_font-14">&copy; 2017. All Rights Reserved.
          <br> Designed &amp; Developed by
          <a href="https://probootstrap.com/" target="_blank">ProBootstrap</a>
        </p>
        <p class="probootstrap_font-14">Image Source:
          <a href="https://unsplash.com/" target="_blank">Unsplash</a>
        </p>
      </div>
    </div>
  </div>
</footer>
