<p>
  landing-page works!
</p>
<form action="#" class="probootstrap-form">
  <div class="form-group">
    <div class="row mb-3"> <!-- row -->
      <div class="col-md"><!-- column  1 -->
        <div class="form-group">
          <div class="probootstrap_select-wrap">
            <form action="#">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm"  placeholder="Search" name="search">
                <button class="input-group-btn btn btn-default" (click)="goToHotelList()"> SEARCH<i class="glyphicon glyphicon-search"></i></button>