/* COLORS USED */
/* Transparent Header: rgba(0, 0, 0, 0.8) */
/* White: #fff */
/* Green: #00CA4C */
/* Light Grey: #ECECEC */


/* ---------------------------------------------GLOBAL CSS--------------------------------------------- */
* {
  font-family: Avenir Next;
}

h1 { 
  font-weight: 600 !important;
  color: #fff;
  font-size: 4rem !important;
}

h2 {
  color: #222;
}



/* ---------------------------------------------Navbar--------------------------------------------- */
.landingTopnav.scrolled {
  border-radius: 0px !important;
}

.landingTopnav.scrolled {
  background: rgba(0, 0, 0, 0.8) !important;
  position: fixed !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  padding: 0 !important;
}

.topnav {
  background: rgba(0, 0, 0, 0.8) !important;
  border-radius: 0px !important;
  padding: 0 !important;
  position: relative !important;
  margin-bottom: 0 !important;
}

.topnav.scrolled {
  border-radius: 0px !important;
}

.topnav.scrolled {
  background: rgba(0, 0, 0, 0.8) !important;
  position: fixed !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  padding: 0 !important;
}


/* ---------------------------------------------Footer--------------------------------------------- */
.footer p {
  color: #222;
}

.footerContainer {
  padding: 0 !important;
  margin-bottom: 2em;
}


/* ---------------------------------------------LANDING PAGE--------------------------------------------- */
/* Searchbar CSS */
.searchbar {
  padding: 40px;
  background: transparent;
}

.searchbar .searchInput {
  border: 1px solid #fff;
  background-color: rgba(250, 250, 250, .1);
  height: 50px;
  border-radius: 0px;
}

.searchInput:focus {
  color: #fff;
}

.searchInput {
  color: #fff
}

.searchbar .searchInput:active, .searchbar .searchInput:focus, .searchbar .searchInput:hover {
  border: 2px solid #fff;
}

.budgetDropdown input::placeholder {
  color: #eee;
}

.centerClass {
  justify-content: center;
  margin-bottom: 0;
}

/* $ dropdown CSS */
.select2-container--default .select2-selection--single, .select2-dropdown {
  border: 1px solid #fff;
  background-color: rgba(250, 250, 250, .1);
  height: 50px;
  width: 90px;
  border-radius: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.select2-container {
  width: 95px !important;
}

.select2-container--default .select2-selection--single:focus, .select2-dropdown:active, .select2-dropdown:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #fff;
}

.select2-container--default .select2-selection--single:active, .select2-container--default .select2-selection--single:focus, .select2-dropdown:active, .select2-dropdown:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #fff;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
  border-width: 7px 6px 0 6px;
}

.select2-container {
  width: 90px !important;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(250, 250, 250, .1);
}

.select2-container--open .select2-dropdown--below {
  width: 90px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  /* background: transparent; */
  /* color: #fff; */
}

body {
  color: white;
}

/* Search button CSS */
.btn {
  background-color: #00CA4C;
  border: none;
  color: #fff;
  height: 50px;
  border-radius: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-default:hover {
  color: #fff;
  background-color: #00CA4C;
  border: none;
  font-weight: bold;
}

.btn-default:active {
  color: #fff;
  background-color: #00CA4C;
  border: none;
  font-weight: bold;
}

.btn-default:focus {
  color: #fff;
  background-color: #00CA4C;
  border: none;
  font-weight: bold;
}


/* ==========What We Do Section========== */

.underline {
  margin-bottom: 0px;
}

.section {
  padding: 4em 0;
  padding-bottom: 0 !important;
}

.body-text {
  color: #222;
}

.halfSection .textClass {
  background: transparent;
}

.halfSection .textClass .inner {
  padding: 5em;
}

.mb-5 {
  margin-bottom: 0 !important;
}

.halfSection .halfImage, .halfSection .textClass {
  width: 50%;
  /* height: 100px; */
  margin: 60px;
}

#subheader {
  margin-top: 2em;
}

.list {
  /* width: 80%; */
  margin-top: 3em;
}


/* ==========Who We Are Section========== */

.subheading {
  text-align: center;
  margin-bottom: 1em;
}

.profile {
  text-align: center;
  align-items: baseline;
}

.profile img {
  width: 100px !important;
  margin-bottom: 15px !important;
}

.name {
  margin-bottom: 5px;
}

.spaceEvenly {
  justify-content: space-evenly !important;
  align-items: baseline;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  margin-left: 5px;
  margin-right: 5px;
}



/* ----------------------------------------HOTEL LIST PAGE--------------------------------------------- */
.hotel-list {
  padding-top: 3em !important;
}

.list-header {
  margin-bottom: 1em;
  text-transform: capitalize;
  font-size: 1.75em;
  font-weight: 500 !important;
  color: #222;
}

.hotelListItem img {
  width: 100% !important;
  height: 200px !important;
}

.hotelListItemContent {
  padding: 1em !important;
}

.hotelListItem p {
  color: #222;
  margin-bottom: 0;
}

.hotelListItem h6 {
  font-size: .75rem;
}

.hotelListItem h5 {
  font-weight: 500 !important;
}

.stars i {
  color: #00CA4C;
  margin-right: 10px;
}



/* ----------------------------------------HOTEL DETAILS PAGE--------------------------------------------- */



/* ----------------------------------------SIGNUP/LOGIN PAGES--------------------------------------------- */
.signup {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0 !important;
  margin-left: 0 !important;
  justify-content: center;
}

#signupHeader {
  background-color: #ECECEC !important;
  padding-top: 4em !important;
  padding-bottom: 4em !important;
}

#loginHeader {
  background-color: #ECECEC !important;
  padding-top: 4em !important;
  padding-bottom: 4em !important;
}

.signupContainer {
  padding: 0 !important;
}

#fname, #lname, #email, #password {
  border-radius: 0 !important;
}

.signupButton {
  background-color: #00CA4C;
  border: none !important;
  color: #fff !important;
  height: 50px !important;
  border-radius: 0px !important;
  margin-left: 0 !important;
  margin-top: 1em !important;
}

.signupButton-default:hover {
  color: #fff !important;
  background-color: #00CA4C !important;
  border: none !important;
  font-weight: bold !important;
}

.signupButton-default:active {
  color: #fff !important;
  background-color: #00CA4C !important;
  border: none !important;
  font-weight: bold !important;
}

.signupButton-default:focus {
  color: #fff !important;
  background-color: #00CA4C !important;
  border: none !important;
  font-weight: bold !important;
}

.signupForm {
  margin-bottom: 2em;
}